*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 300ms;
}

:root{
    --blue : #7C83FD;
    --bg-color: #efefef;
    --white: #fff;
}
.dark-theme{
    --blue: #000;
    --bg-color: rgb(12, 14, 19);
    --white: #000;
}

body{
    background: var(--bg-color);
}



.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1300px;
}
a{
    text-decoration: none; 
}


// code for go to github to this project

.go_to_github {
    @mixin btn {
      border-radius: 2px;
      padding: 0.1em 0.5em;
      // border: 2px solid white;
      cursor: pointer;
      transition: 300ms;
  
      &:hover {
        background: rgba(117, 117, 117, 0.609);
        transform: translateY(-3px);
      }
    }
  
    background: #000;
    width: 100%;
    margin: 0 auto;
    // border-bottom-left-radius: 0.4em;
    // border-bottom-right-radius: 0.4em;
    color: white;
    min-height: 8vh;
    display: flex;
    align-items: center;
    padding: 1.2em 0;
    .container {
      display: flex;
      justify-content: space-between;
      font-size: 1.4rem;
      align-items: center;
  
      .content {
        display: flex;
        align-items: center;
        border: 1px solid white;
        padding: 0.5rem 0.6rem;
        gap: 1rem;
        @include btn;
        &_text {
          font-weight: 600;
          color: white;
        }
  
        .githubBtn {
          svg {
            font-size: 2.7rem;
            transform: translate(0);
          }
          path {
            color: white;
          }
        }
      }
  
      .exitBtn {
        font-size: 2.4rem;
        svg {
          transform: translate(0);
        }
        path {
          color: white;
        }
        cursor: pointer;
        // @include btn;
      }
    }
  }
  
  .go_to_github_btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    position: fixed;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
  
    &:hover {
      background: rgba(71, 71, 71, 0.609);
    }
  
    .text {
      color: white;
      svg {
        font-size: 2.4rem;
        transform: translate(0);
      }
      path {
        color: white;
      }
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .opacity-0 {
    opacity: 0;
  }
  
  .opacity-1 {
    opacity: 1s;
  }
  .display_hide {
    display: none;
  }



// end go to github of this project section


nav{
    background: var(--blue);
    min-height: 8vh;
    padding: 1em 0;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin-bottom: 1.5em;
    z-index: 100;


    .nav-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-left{
        display: flex;

    }

    .nav-right{
        display: flex;
        gap: 3em;
        .search-div{

            display: flex;
            background: #fff;
            width: 281px;
            height: 2.5em;
            /* padding: .5em 1em; */
            border-radius: 4em;
            // gap: 1em;
            justify-content: space-evenly;


            .search-box{
                font-size: 1rem;
                height: 100%;
                border: none;
                outline: none;
                border-radius: 4em;
                background: transparent;
                font-weight: 300;
                /* align-self: flex-end; */
            }
            .search-icon{
                width: 19px;
                height: 19px;
                align-self: center;
                justify-self: center;
            }

            
        }
        .profile{
            position: relative;


            .profile-pic{
                width: 2.4em;
                height: 2.4em;
                border-radius: 50%;
            }
            .online{
                            
                position: absolute;
                top: 0;
                right: 0;
                background: #8ec74c;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 2px solid #fff;
            }
        }
    }
    

    .logo{
        font-size: 2.1rem;
        margin-right: 2.5em;
        a{
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            
        }
        span{
            color: var(--blue);
            background: #fff;
            padding: 0 2px;
            margin: 0 3px;
            border-radius: 4px;
        }
    }

    .quickbuttons{

        a{
            margin-right:1.5em;
            img{
                width: 2rem;
            }
        }
    }


}


main{
    .container{

        display: grid;
        justify-content: space-between;
        grid-template-columns: 27% 43% 27%;
    }

    .left-side{
        background: var(--white);
        border-radius: .4em;
        height: fit-content;
        margin-bottom: 3em;
        padding: 1.3em;
        color: #626262;
        position: sticky;
        top: 15vh;

        
        .imp-links{
            display: flex;
            // align-items: center;
            flex-direction: column;
            gap: 1.8em;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1.5em;

            a{
                display: flex;
                align-items: center;
                color: #626262;
                gap: .8em;
                transition: all .3s;

                img{
                    width: 1.8em;
                }

            
                &:hover{
                    color: #7C83FD;
                }
                &:last-child{
                    color: #7C83FD;
                }

            }
        }

        .shortcut-links{
            padding-top: 1.5em;

            div{
                padding-top: 1.5em;
                display: flex;
                flex-direction: column;
                gap: 1.5em;
            }
            a{
                color: #626262;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: .8em;

                img{
                    width: 3em;
                    border-radius: 4px;
                }
            }
        }
    }
    .middle-content{
        // background: #fff;

        /// storys section starts from here
        .storys{
            margin-bottom: 1em;
            display: flex;
            justify-content: space-between;

            .story{
                flex-basis: 18%;
                border-radius: 10px;
                cursor: pointer;
                position: relative;
                transition: all .3s;
                .bg-transparent{
                    background: rgba(44, 44, 44, 0.2);
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    border-radius: 10px;
                }
                .story-img{
                    width: 100%;
                    border-radius: 10px;
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: linear-gradient(transparent, rgba(0, 0,0, .5));
                    
                }
                p{
                    color: white;
                    position: absolute;
                    bottom: 10%;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .story-profile{
                    position: absolute;
                    width: 3vw;
                    height: 3vw;
                    border-radius: 50%;
                    top : 5%;
                    left :5%;
                    border: 3px solid #7C83FD;
                }

                .upload-icon{
                    width: 3vw;
                    height: 3vw;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                }
                
                &:hover{
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
                }
            }
        }

        // user component style

        .user{

            display: flex;
            align-items: center;
            color: #626262;

            img{
                width: 2.6em;
                height: 2.6em;
                border-radius: 50%;
                margin-right: .5em;

            }
            .user-text{
                display: flex;
                flex-direction: column;


                span{
                    letter-spacing: 1px;
                    margin-bottom: 3px;
                }
                small{
                    font-size: .8rem;
                    color: #8a8a8a;
                }
            }
        }

        // creat post starts from here
        .creat-post{
            width: 100%;
            background: var(--white);
            padding: 1em;
            border-radius: 6px;

            .textarea{
                margin-left: 3rem;
                border-bottom: 1px solid #ccc;
                textarea{
                    background: var(--white);
                    color: #626262;
                    font-size: .9rem;
                    padding-top: 1.6em;
                    border: 1px solid black;
                    border: none;
                    outline: none;
                    resize: none;
                }
            }

            .activity{
                margin-left: 3em;
                margin-top: .8em;
                display: flex;
                align-items: center;
                gap: 2em;
                

                a{
                    
                    display: flex;
                    align-items: center;
                    gap: .5em;
                    color: #626262;
                    img{
                        width: 1.3em;
                    }
                }
            }

        }

        .new-post{
            background: var(--white);
            color: #626262;
            margin-top: 1em;
            padding: 1em;
            border-radius: 6px;

            .user{

                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .img-text{
                    display: flex;
                    align-items: center;

                }
            }

            p{
                color: #8a8a8a;
                padding: 1em 0;

                span{
                    font-weight: 600;
                    color: #626262;
                }
            }

            .feed-image{
                width: 100%;
                border-radius: 4px;
            }

            .reaction{
                margin-top: 1em;

                display: flex;
                justify-content: space-between;
                align-items: center;

                .react{
                    display: flex;
                    align-items: center;
                    gap: 2em;

                    a{

                    display: flex;
                    align-items: center;
                    gap: .5em;
                    color: #626262;

                        img{
                            width: 1.5em;
                        }
                    }
                }

                .profile{
                    display: flex;
                    align-items: center;
                    gap: .4em;

                    img{
                        width: 1.7em;
                        height: 1.7em;
                        border-radius: 50%;
                    }
                }
            }
        }
        .button{
            width: 100%;
            display: flex;
            justify-content: center;
            .load-more{
                padding: .5em .8em;
                margin: 3em auto;
                text-align: center;
                border-radius: 4px;
                border: 1px solid #8a8a8a;
                color: #626262;
                font-weight: 600;
                background: transparent;
                cursor: pointer;
                
                &:hover{
                    color: white;
                    background: #7C83FD;
                    border: 1px solid #7C83FD;
                }
            }


        }

        .copyright{
            color: #8a8a8a;
            text-align: center;
            display: block;
            margin-bottom: 1em;

            a{
                color: #626262;
                font-weight: 600;

                &:hover{
                    text-decoration: underline;
                }
            }
        }


    }


    // right side starts from here
    .right-side{
        background: var(--white);
        border-radius: .4em;
        color: #626262;
        height: fit-content;
        margin-bottom: 5em;
        padding: 1.3em;
        position: sticky;
        top: 15vh;
        a{
            color: #7C83FD;
        }
        .right-side-heading{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2em;

            a{
                font-size: .8rem;
            }
        }
        .events{
            margin-bottom: 3em;
            .event{
                display: flex;
                align-items: center;
                margin-bottom: 1em;
                

                .calender{  
                     width: 5vw;
                    background: #fff;
                    height: 4.3em;
                    display: flex;
                    flex-direction: column;
                    box-shadow: 0px 0px 10px #ececec;
                    border-radius: .8em;
                    align-items: center;
                    justify-content: space-between;

                    span{
                        margin-top: .5em;
                        font-weight: 600;
                        color: #626262;
                        font-size: 1.3rem;
                    }

                    .bg-blue{
                        background: #7C83FD;
                        width: 100%;
                        height: 22px;
                        border-bottom-left-radius: .8em;
                        border-bottom-right-radius: .8em;
                        color: #fff;
                        font-size: 0.8rem;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }


                &-info{
                    margin-left: 1em;
                    display: flex;
                    flex-direction: column;
                    gap: .3em;

                    span{
                        font-size: .8rem;
                        
                    }
                    a{
                        font-size: .8rem;
                        color: #7C83FD;
                    }

                }
            }
            
        }

        .advertisment{
            margin-bottom: 3em;

            img{
                width: 100%;
                border-radius: 4px;
            }
        }

        .conversation{

            .persons{
                display: flex;
                flex-direction: column;
                gap: 1.3em;



                .person{
                    display: flex;
                    align-items: center;

                    .profile{

                        position: relative;
                        .profile-pic{
                            width: 2.4em;
                            height: 2.4em;
                            border-radius: 50%;
                        }
                        .online{          
                            position: absolute; 
                            top: unset;
                            right: 0;
                            bottom: 3px;
                            background: #8ec74c;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            border: 2px solid #fff;
                        }
                    }
                
                    span{
                        font-size: 1.1rem;
                        padding-left: 1em;
                    }
                
                }
            }
        }




    }
}




// media quires
@media (max-width: 900px) {
    main{
        .container{
    
            grid-template-columns: 65% 33%;
            // gap: au;
        }
    }
    .calender{
        border-radius: 4px !important;
    }
    .left-side{
        display: none !important;
    }    

    .story-profile{
        width: 38px !important;
        height: 38px !important;
    }
}

.warning-div{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    min-height: 80vh;
    background: #fff;
    z-index: 101;
    border-radius: 8px;
    box-shadow: 0 0 4000px 0px #585858;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    padding: 3em;
    font-size: .8rem;
    display: none;
    p{
        color: #626262;
    }
    button.close{
        background: var(--blue);
        color: #fff;
        border: none;
        border-radius: 3px;
        padding: .5em .8em;
        font-weight: 600;
    }
}


@media (max-width: 890px) {

    .warning-div{
        display: flex;
    }
    .quickbuttons{
        display: none !important;
    }
}
@media (max-width: 650px) {
    .search-div{
        display: none !important;
    }
}

@media (max-width: 590px){
    .right-side{
        display: none;
    }

    main{
        .container{
            grid-template-columns: 1fr;
        }
    }
}

.display-hide{
    display: none;
}